version: 2
updates:
  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/Tickflo.Web" # Location of package manifests
    schedule:
      interval: "weekly"
