services:
  db:
    image: "postgres:18.1-bookworm"
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${PostgresUser}
      POSTGRES_PASSWORD: ${PostgresPassword}
      POSTGRES_DB: ${PostresDatabase}
  s3:
    image: "rustfs/rustfs:1.0.0-alpha.79"
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      RUSTFS_ACCESS_KEY: ${S3AccessKey}
      RUSTFS_SECRET_KEY: ${S3SecretKey}
    volumes:
      - "./rustfs-data:/data"
  web:
    build:
      context: .
      dockerfile: docker/web/Dockerfile
    env_file:
      - Tickflo.Web/.env
    restart: unless-stopped
    depends_on:
      - db
      - s3
    ports:
      - "8080:8080"
