@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set Your Password";
}

<div class="flex min-h-screen flex-col items-center bg-base-200 pt-4">
    <div class="card w-full max-w-sm flex-shrink-0 bg-base-100 shadow-2xl rounded-3xl">
        <div class="card-body">
            <h2 class="card-title">Set Your Password</h2>
            <form method="post" novalidate>
                <fieldset class="fieldset">
                    <p class="text-sm text-base-content/70 mb-4">
                        Email: <span class="text-primary">@Model.UserEmail</span>
                    </p>
                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        @await Html.PartialAsync("_ErrorAlert", Model.ErrorMessage)
                    }
                    <label class="label" for="password">
                        <span class="label-text">Password</span>
                    </label>
                    <input id="password" asp-for="Input.Password" type="password" class="input validator" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="validator-hint"></span>
                    <label class="label" for="confirmPassword">
                        <span class="label-text">Confirm Password</span>
                    </label>
                    <input id="confirmPassword" asp-for="Input.ConfirmPassword" type="password" class="input validator" placeholder="Confirm Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="validator-hint"></span>
                    <button type="submit" class="btn btn-primary mt-4">
                        Set Password
                    </button>
                    <div class="text-center">
                        Have an issue?
                        <a href="/login" class="link link-hover text-xs">
                            Back to Login
                        </a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
