<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tickflo</title>
    <link rel="icon" href="~/img/icon.png" />
    <link rel="stylesheet" href="~/css/dist.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
</head>

<body>
    <mini-profiler />
    <header class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a href="/">
                <img src="~/img/logo.png" alt="Tickflo" class="h-12" />
            </a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <form method="post" action="/toggle-theme">
                        <button type="submit" class="pt-1">
                            <i class="fa fa-moon"></i>
                        </button>
                    </form>
                </li>
                <li>
                    <a href="/notifications">
                        <i class="fa fa-bell mt-1 inline"></i>
                        <span class="badge badge-xs badge-primary">99+</span>
                    </a>
                </li>
                <li>
                    @await Html.PartialAsync("_UserMenu")
                </li>
            </ul>
        </div>
    </header>

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>