@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IAppContext AppContext
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
    var user = AppContext.CurrentUser;
}

@if (user != null)
{
    <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-soft rounded-full">
            <div class="avatar mr-2" id="userAvatarContainer">
                <div class="w-8 rounded-full ring ring-white/15 ring-offset-2 ring-offset-transparent">
                    <img src="/users/@user.Id/avatar" alt="Avatar" />
                </div>
            </div>
            <span class="max-w-40 truncate text-slate-100">@user.Name</span>
        </div>
        <ul class="dropdown-content menu user-menu-panel w-56 p-2">
            <li>
                <a href="/profile" class="rounded-xl hover:bg-white/5" onclick="(e) => e.currentTarget.blur()">
                    <i class="fa fa-user"></i> Profile
                </a>
            </li>
            <li>
                <a href="/workspaces" class="rounded-xl hover:bg-white/5" onclick="(e) => e.currentTarget.blur()">
                    <i class="fa fa-people-group"></i>
                    Workspaces
                </a>
            </li>
            @if (user.SystemAdmin)
            {
                <li class="menu-title">System</li>
                <li><a href="/system/emails">
                        <i class="fa fa-envelope"></i>
                        Email Log
                    </a></li>
            }
            <li>
                <form method="post" asp-page="/Logout">
                    <button type="submit" class="rounded-xl hover:bg-white/5">
                        <i class="fa fa-sign-out-alt"></i>
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <a href="/login">Login</a>
}